@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* navbar */
.banner {
  background-color: #6795f7b9;
  text-align: center;
  padding: 8px;
  color: white;
  font-size: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-image: url(banner.gif);
  background-position: center top;
  background-size: cover;
}

nav a {
  text-decoration: none;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo a {
  color: #023247; 
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: font-size 0.3s ease; 
}

.navbar .logo img {
  max-height: 60px;
  width: auto;
  transition: all 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #384B70;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  right: 0;
}

.sidebar .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.sidebar-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-links a:hover {
  color: #7C93C3;
  padding: 10px;
  border-radius: 20px; 
  background-color: #152647;
  box-shadow: 4px 4px 0px rgba(124, 147, 195, 0.8); 
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.navbar .links {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
}

.navbar .links a {
  text-decoration: none;
  color: #000; 
  font-size: 1rem;
  font-weight: 600;
  padding: 7px 12px;
  transition: font-size 0.3s ease, padding 0.3s ease; 
}

.navbar .links a:hover {
  color: #7C93C3;
  border-radius: 20px; 
  background-color: #152647;
  box-shadow: 4px 4px 0px rgba(124, 147, 195, 0.8); 
}

.button {
  --bg: #EEF5FF;
  --hover-bg: #9EB8D9;
  --hover-text: #EEF5FF;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8em 2em;
  background: #384B70;
  transition: 0.2s;
  border-radius: 15px;
  margin-left: 25px;
}

.button:hover {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  transform: translate(-0.25rem, -0.25rem);
  border: 2px solid #7C93C3;
  box-shadow: 0.25rem 0.25rem #152647;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

/* body: transaction history table*/
header {
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.user-info .username {
  color: #000;
  font-size: 24px; 
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 5px;
}

.user-info .level {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.user-info img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.user-info .pokecoins {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
}

.user-info .sign-out {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1em 2em;
  background: #ff4d4d;
  border: 2px solid #cc3c3c;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1), transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.user-info .sign-out::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9999;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #cc3c3c, 0 0.625em 0 0 #b32b2b;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.user-info .sign-out:hover {
  background: #ff6666;
  transform: translate(0, 0.25em);
}

.user-info .sign-out:hover::before {
  box-shadow: 0 0 0 2px #cc3c3c, 0 0.5em 0 0 #b32b2b;
  transform: translate3d(0, 0.5em, -1em);
}

.user-info .sign-out:active {
  background: #ff6666;
  transform: translate(0em, 0.75em);
}

.user-info .sign-out:active::before {
  box-shadow: 0 0 0 2px #cc3c3c, 0 0 #b32b2b;
  transform: translate3d(0, 0, -1em);
}

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  z-index: 1;
  margin-bottom: 50px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

h2, .transaction-table {
  position: relative; 
  z-index: 2;
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
}

.transaction-table {
    width: 85%; 
    margin: 20px auto; 
    border-collapse: collapse;
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px; 
}

.transaction-table th, .transaction-table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd; 
    font-size: 1rem;
}

.transaction-table th {
    background-color: #384B70; 
    color: white;
    font-size: 1.125rem;; 
}

.transaction-table tr{
    background-color: #f9f9f9; 
}

.transaction-table td {
    background-color: #000; 
}

/* footer */
footer {
    background: linear-gradient(to bottom right, #97adb8, #061738);
    color: #9EB8D9;
    padding: 3rem 1rem;
    padding: 40px 20px;
}

.footer-container {
    max-width: 900px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    gap: 5px;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.footer-links a {
    color: #FFF;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
    transition: color 0.3s ease;
    text-align: left;
}

.footer-links a:hover {
    color: #384B70;
    text-decoration: underline;
}

.footer-logos {
    display: flex;
    gap: 10px;
}

.footer-logos img {
    max-width: 100%;
    height: 70px;
    transition: transform 0.3s ease;
}

.footer-logos a:hover img {
    transform: scale(1.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media a {
    font-size: 1.5rem;
    margin: 0 8px;
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-media a:hover {
    color: #384B70;
    transform: scale(1.2);
}

.language-selector {
    margin-left: auto; 
    position: relative;
}

.language-button {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.language-btn i {
    margin-left: 5px;
}

.language-button:hover {
    background: #9EB8D9;
    color: #384B70;
}

.language-dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 200px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1000;
}

.language-option {
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.language-option:hover {
    background: #ddd;
}

.language-dropdown.active {
    display: block;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background: #9EB8D9;
    margin: 20px 0;
}

.footer-policy {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.footer-policy a {
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    transition: color 0.3s ease;
}

.footer-policy a:hover {
    color: #384B70;
    text-decoration: underline;
}

.language-support, .copyright {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #FFF;
    max-width: 700px;
    margin: 0 auto;
}

.footer-disclaimer {
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: #9eb8d9;
    padding: 15px 20px;
    margin-top: 35px;
    font-weight: bold;
    font-style: italic;
}

.footer-group-logo {
    display: block;  
    margin: 0 auto;  
    max-width: 150px; 
}

/* responsiveness */
@media (max-width: 1024px) {
    .navbar {
        padding: 15px 20px;
    }

    .navbar .logo img {
        height: 50px;
    }

    .navbar .logo a {
        font-size: 1rem;
    }

    .navbar .links {
        gap: 10px;
    }

    .navbar .links a {
        font-size: 0.9rem;
        padding: 6px 10px;
    }

    .button {
        font-size: 0.9rem;
        padding: 0.7rem 1.3rem;
        width: 9rem;
        height: 2.8rem;
    }

    header {
      padding: 15px;
    }

    .header-container {
        gap: 8px;
    }

    .user-info .username {
        font-size: 20px; 
    }

    .user-info .level {
        font-size: 14px;
    }

    .user-info img {
      width: 25px;
      height: 25px;
    }

    .user-info .pokecoins {
        font-size: 12px;
    }

    .container {
        padding: 15px;
    }

    .transaction-table {
        width: 90%; 
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .navbar .logo img {
        height: 40px;
    }

    .navbar .logo a {
        font-size: 0.9rem;
    }

    .navbar .links a {
        display: none;
    }

    .hamburger {
      display: flex;
    }

    .button {
        font-size: 0.8rem;
        padding: 0.6rem 1.2rem;
        width: 8rem;
        height: 2.5rem;
    }

    header {
      padding: 10px;
    }

    .header-container {
        gap: 6px;
    }

    .user-info .username {
        font-size: 18px;
    }

    .user-info .level {
        font-size: 12px;
    }

    .user-info img {
        width: 20px;
        height: 20px;
    }

    .user-info .pokecoins {
      font-size: 10px;
    }

    .container {
      max-width: 90%; 
      padding: 15px;
    }

    .transaction-table {
        width: 85%; 
    }

    h2 {
        font-size: 2.5rem; 
    }

    .transaction-table th, .transaction-table td {
      padding: 0.4rem; 
      font-size: 0.75rem; 
    }

    .transaction-table th {
        font-size: 0.875rem; 
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logos {
        order: -1;
        margin-bottom: 20px;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    .footer-links a {
        display: block;
        font-size: 14px;
        padding: 5px 0;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .social-media {
        justify-content: center;
    }

    .language-selector {
        margin: 0;
        text-align: center;
    }

    .footer-policy {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: relative;
    }

    .navbar .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar .logo img {
        height: 40px;
    }

    .hamburger {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
      color: #000;
    }

    header {
      padding: 8px;
    }

    .header-container {
      gap: 5px;
    }

    .user-info .username {
      font-size: 16px;
    }

    .user-info .level {
      font-size: 10px;
    }

    .user-info img {
      width: 18px;
      height: 18px;
    }

    .user-info .pokecoins {
      font-size: 8px;
    }

    .container {
      max-width: 95%; 
      padding: 10px;
    }

    .transaction-table {
        width: 95%; 
    }

    h2 {
        font-size: 1.875rem; 
    }

    .transaction-table th, .transaction-table td {
      padding: 0.3rem;
      font-size: 0.625rem; 
    }

    .transaction-table th {
        font-size: 0.75rem; 
    }

    .navbar .button {
        font-size: 0.6rem;
        padding: 0.4rem 0.8rem;
        width: 20rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-logos {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    .footer-links-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 300px;
        text-align: left;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }

    .footer-links a {
        font-size: 14px;
        padding: 5px 0;
        text-align: center;
        color: #FFF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .social-media {
        justify-content: center;
    }

    .language-selector {
        margin: 0;
        text-align: center;
    }

    .footer-policy {
        flex-direction: column;
        text-align: center;
    }
}